 <style>

    .card {
     font-family:system-ui;
     text-align: center;
     padding: 2rem;
     margin: 2.5rem;
     border-radius: 2rem;
     column-fill: balance;
     background-color: beige;
    }
    .card__title {
     background-color: skyblue;
     font-size: 5rem;
     text-align: center;
     margin: 3rem;
     column-fill: balance;
     column-rule-width: 15px;
     column-rule-style: dotted;
     column-rule-color: rebeccapurple;
    }
    .card__excerpt {
     background-color: orange;
     padding: 3rem;
     display: block;
     margin: 2rem;
    }
    .card__image {
     aspect-ratio:16/9;
     object-fit: contain;
     display: block;
     border-style: solid;
     margin: 5rem;
    }
    .card__more {
     display: flex;
     font-size: 1.5rem;
     padding: 1rem;
     gap: 1rem;
     font-kerning: normal;
     transition: border-radius 0.2s linear;
    }
    .card__more:hover {
     background-color: beige;
     border-radius: 3em;
     
    }
    .card__more:active {
     background-color: brown;
     font-size: 3rem;
    }
 

    @media screen and (min-width: 1024px) {
      .card {
       background-color: bisque;
      }
      .card__title {
       font-size: 30px;
      }
      .card__excerpt {
       background-color: #80ced6;
      }
      .card__image {
       margin: 48px;
      }
      .card__more {
       background-color: white;
      }
      .card__more:hover {}
      .card__more:active {}
    }

    /* You can leave everything below as is — we'll explain flexbox in a later lecture! */

    .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8vw;
    }

  </style>
