 <style>

    .card {
     font-family:system-ui;
     text-align: center;
     padding: 2rem;
     margin: 2rem;
     border-radius: 2rem;
    }
    .card__title {
     blackground-color: grey;
     font-size: 2.5rem;
     text-align: center;
    }
    .card__excerpt {
     back-ground color: orange;
     padding: 3rem;
     display: block;
    }
    .card__image {
     aspect-ratio:16/9;
     object-fit: contain;
     display: block;
    }
    .card__more {
     display: flex;
     font-size: 1.5rem;
     padding: 1rem;
     gap: 1rem;
     transition: border-radius 0.15s linear;
    }
    .card__more:hover {
     background-color: beige;
     border-radius:: 3em;
     
    }
    .card__more:active {
     background-color: brown;
    }
 

    @media screen and (min-width: 1024px) {
      .card {
       background-color: bisque;
      }
      .card__title {
       font-size: 30px;
      }
      .card__excerpt {}
      .card__image {}
      .card__more {
       background-color: white;
      }
      .card__more:hover {}
      .card__more:active {}
    }

    /* You can leave everything below as is — we'll explain flexbox in a later lecture! */

    .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8vw;
    }

  </style>
